body {
  padding : 10px ;
}

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}

.barraIcones{
  padding: 1% 0px 1% 10% !important;
  border-radius: 1px !important;
}

.barraPastas{
  padding: 1% 0px 1% 5% !important;
  border-radius: 1px !important;
}