body {
  padding : 10px ;
}

a{
  color: #9da1b4 !important;
}

#exTab3 .nav-pills > li > a {
  border-radius: 3px 3px 0 0 ;
  color: #656877;
}

#exTab3 .tab-content {
  color : white;
  background-color: #31343f;
  padding : 5px 15px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}

.barraIcones{
  padding: 1% 0px 1% 10% !important;
  border-radius: 1px !important;
}

.barraPastas{
  padding: 1% 0px 1% 5% !important;
  border-radius: 1px !important;
}

.footer{
  border: 1px solid #1b1c22;
  background-color: #262831;
  color: #929292;
}

.exibicaoArquivo{
  background-color: #262831;
  border: 1px solid #1b1c22;
  border-bottom: 0px;
  padding-left: 0px;
  padding-right: 4px;

}

.exibicaoListaArquivo{
  background-color: #262831;
  border: 1px solid #1b1c22;
  border-bottom: 0px;
  border-right: 0px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #31343f !important;
  color: #d9dff7 !important;
}

.nav>li>a:focus, .nav>li>a:hover{
  background-color: rgba(238, 238, 238, 0.03) !important;
  color: #bcc1d6 !important;
}

.icones{
  margin-right: 3px;
  font-size:17px !important;
  vertical-align: top;
}